@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&display=swap');

:root {
  --font-family: 'Inter', sans-serif;
  --bg-color: #f1ddbf;
  --primary-color: #525e75;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-weight: 100;
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-family: var(--font-family);
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 100px;
}

h3 {
  font-size: 4rem;
  margin-top: 20px;
}

.message {
  font-weight: 400;
  font-size: 2.5rem;
  margin-top: 40px;
}

.box {
  border: 2px solid var(--primary-color);
  display: inline-block;
  font-size: 4em;
  padding: 10px;
  margin: 20px;
}
